
<div id="sign-up-form" class="register-wrap" style="text-align: center;">
  <div class="register-inner">

    <div>
      <%= render :partial => "devise/shared/links", :locals => {:entry_type => 'new'} %>
    </div>

    <div class="login-form-sep"><span>OR</span></div>
    <h4>Sign up</h4>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => "register-form register-form-with-email"}) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.text_field :username, autofocus: true, placeholder: 'username' %>
      </div>

      <div class="field">
        <%= f.email_field :email, placeholder: 'Email' %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "off", placeholder: "Password (6 characters minimum)" %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirm Password', class: 'last-login-field' %>
      </div>
      <%= f.hidden_field :referrer, value: cookies[:referrer] %>

      <div class="actions">
        <a class="more-signup-options" href="javascript:void(0)" >More sign up options</a>
        <%= f.submit "Sign up", class: "register-action btn" %>
      </div>
    <% end %>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => "register-form register-form-no-email"}) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.text_field :username, autofocus: true, placeholder: 'username' %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "off", placeholder: "Password (6 characters minimum)" %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirm Password', class: 'last-login-field' %>
      </div>
      <%= f.hidden_field :referrer, value: cookies[:referrer] %>

      <div class="actions">
        <a class="more-signup-options" href="javascript:void(0)" >More sign up options</a>
        <%= f.submit "Sign up", class: "register-action btn" %>
      </div>
    <% end %>
      <div style="margin-top: 14px;">
        <span>Already a member? </span><%= link_to "Sign in here", "javascript:void(0)", :class => "js_sign_in_path" %><br />
      </div>

  </div>
</div>

<% content_for :scripts do %>
  <script type="text/javascript">
    $('#sign-in-form .js_sign_up_path').click(function(e) {
      
        $('#sign-in-form').hide();
        $('#sign-up-wrap').show();
    })
    $('#sign-up-form .js_sign_in_path').click(function(e) {

      if ($('#sign-in-form').length <= 0) {
        window.location = "<%= new_user_session_path(:type => 'login') %>"

      }
      else {
      
        $('#sign-in-form').show();
        $('#sign-up-wrap').hide();
      }
    });
    $(".register-form-no-email").hide();
    $(".more-signup-options").click(function() {
      $(".register-form-no-email").toggle();
      $(".register-form-with-email").toggle();
    });
  </script>
<% end %>