
<div id="sign-up-form" class="register-wrap" style="text-align: center;">
  <div class="register-inner">
    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => "register-form"}) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.text_field :name, autofocus: true, placeholder: 'Full Name' %>
      </div>

      <div class="field">
        <%= f.email_field :email, placeholder: 'Email' %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "off", placeholder: "Password (#{@minimum_password_length} characters minimum)" %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirm Password' %>
      </div>
      <%= f.hidden_field :referrer, value: cookies[:referrer] %>

      <div class="actions">
        <%= f.submit "Sign up", class: "register-action btn" %>
      </div>
    <% end %>
    <div>
      <%= render :partial => "devise/shared/links", :locals => {:entry_type => 'new'} %>
    </div>

  </div>
</div>

<% content_for :scripts do %>
  <script type="text/javascript">
    $('#sign-in-form .js_sign_up_path').click(function(e) {
      
        $('#sign-in-form').hide();
        $('#sign-up-wrap').show();
    })
    $('#sign-up-form .js_sign_in_path').click(function(e) {

      if ($('#sign-in-form').length <= 0) {
        window.location = "<%= new_user_session_path(:type => 'login') %>"

      }
      else {
      
        $('#sign-in-form').show();
        $('#sign-up-wrap').hide();
      }
    })
  </script>
<% end %>