<div class="edit-user">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "register-form" }) do |f| %>
    <%= devise_error_messages! %>
     <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
     <div class="field">
      <%= f.label :username %><b> (careful changing this will change your identity on the platform)</b><br />
      <%= f.text_field :username, autofocus: true %>
    </div>
   
    <% if !current_user.email? %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email%>
      </div>
    <% end %>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  <% end %>

  <%= link_to "Back", :back %>
</div>