<%= render :partial => 'mail_header'%>
<%= render :partial => 'mail_header'%>
<div>
	<p>Hi <%= @to.name %>,</p>
	<p><%= @from.name %> wants to join the post <a href="<%= post_url(@post) %>"><b><%= @post.title %></b></a>.
	</p>

</div>
<%= render :partial => 'mail_footer'%>