<%= render :partial => 'mail_header'%>
<div>
	<p>Hi <%= @to.name %>,</p>
	<p>You are now joined to <b><%= @post.title %>.</b>
	Click <a href="<%= post_url(@post) %>">here</a>.
	</p>

</div>
<%= render :partial => 'mail_footer'%>