<%= render :partial => 'mail_header'%>
<div>
	<p>Hi <%= @to.name %>,</p>
	<p><%= @from.name %> wants to join the learning post <a href="<%= post_url(@post) %>"><b><%= @post.title %></b></a>.
	</p>
	<b><p> Message from <%= @from.name %></p></b>
	<i><p><%= @post.getUserInvite(@from).message %></p></i>


	<p> <a href="<%= post_url(@post) %>"> Click here </a> to <b>Accept / Reject</b> the request.</p>

</div>
<%= render :partial => 'mail_footer'%>