<%- if controller_name != 'sessions' %>
  <%= link_to "Log in", new_session_path(resource_name) %><br />
<% end -%>



<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.omniauthable? %>
 <div style="display: block;">
	 <a href="<%= user_google_oauth2_omniauth_authorize_path() %>" id="google-login-but">
							        	<img src="<%= asset_path('google-login.png') %>" style="max-width: 100%; width: 298px; height: 65px; border-radius: 25px; display: block; margin-bottom: 10px">
							        </a>
							        <a href="<%= user_facebook_omniauth_authorize_path %>" id="fb-login-but">
							        	<img src="<%= asset_path('fb-login.png') %>" style="max-width: 100%; border-radius: 25px; width: 298px; height: 65px; display: block;">
							        </a>
</div>
<% end -%>
