<%- if entry_type != 'existing' %>
	<div style="margin-top: 14px;">
	  	<span>Already a member? </span><%= link_to "Sign in here", "javascript:void(0)", :class => "js_sign_in_path" %><br />
	</div>
<% end -%>

<div class="external-label">
<%- if entry_type != 'existing' %>
  Sign up with
<% else %>
	Sign in with
<% end -%>
</div>


<%- if devise_mapping.omniauthable? %>
 <div class="external-links" style="">
	 <a href="<%= user_google_oauth2_omniauth_authorize_path() %>" id="google-login-but">
							        	<img src="<%= asset_path('google-login.png') %>" style="">
							        </a>
							        <a href="<%= user_facebook_omniauth_authorize_path %>" id="fb-login-but">
							        	<img src="<%= asset_path('fb-login.png') %>" style="">
							        </a>
</div>
<% end -%>
