<div class="prof-head">
	<div class="public-pic">
		<img style="height: 100%;" src="<%= user.medium_large_picture %>">			
	</div>
	<div class="public-basic">
		<div class="public-username">
			<%= user.username %>
		</div>
		<div>
			<span>Timezone: </span> <span><%= "GMT#{signed_float(user.time_zone_diff_in_hours, 2)}" %></span> <span><%= time_zone_diff_text(current_user, user) %></span>
		</div>
		<div>
			<span>Location: </span> <span><%= user.location_text || '---' %></span>
		</div>
		<div>
			<span>Member since: </span> <span><%= time_ago_in_words(user.created_at) %></span>
		</div>
		<% if (defined? basic_only) && basic_only %>
			<div>
				<a href="<%= user_path(user) %>" target="_blank">More details</a>
			</div>
		<% end %>
		 
	</div>
	<div style="clear: both;"></div>
</div>