<% content_for :head do %>
	<%= stylesheet_link_tag  'public', media: 'all', 'data-turbolinks-track' => true %>
<% end %>
<div class="prof-main">
	<div class="prof-head">
		<div class="public-pic">
			<img style="height: 100%;" src="<%= @user.medium_large_picture %>">			
		</div>
		<div class="public-basic">
			<div class="public-username">
				<%= @user.username %>
			</div>
			<div>
				<span>Timezone: </span> <span><%= "GMT#{signed_float(@user.time_zone_diff_in_hours, 2)}" %></span> <span><%= time_zone_diff_text(current_user, @user) %></span>
			</div>
			<div>
				<span>Location: </span> <span><%= @user.location_text || '---' %></span>
			</div>
			<div>
				<span>Member since: </span> <span><%= time_ago_in_words(@user.created_at) %></span>
			</div>
			 
		</div>
		<div style="clear: both;"></div>
	</div>
	<div class="prof-content">

		<div>
			<div class="info-head">
				About me			
			</div>
			<div class="info-content">
				<%= @user.user_profile.try(:about_me).presence || '---' %>
			</div>
		</div>
		<div class="prof-block">
			<div class="info-head">
				Github Profile		
			</div>
			<div class="info-content">
				<%= @user.user_profile.try(:github).presence || '---' %>
			</div>
		</div>
		<div class="prof-block">
			<div class="info-head">
				Participated Learnings		
			</div>
			<div class="info-content inc-margin">
				<% @user.participated_posts.each do |p| %>
					<%= render :partial => 'shared/post_card', :locals => {:post => p} %>
				<% end %>
			</div>
		</div>
		
	</div>
</div>