<% content_for :head do %>
	<style type="text/css">
		.participated {
			float: left; 
			display: inline-block; 
			border: 1px solid rgb(232, 232, 232); 
			box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.05);
		}
		.anchor-button {
			background: #4e9caf none repeat scroll 0 0;
			border-radius: 5px;
			color: white;
			display: inline-block;
			font-weight: bold;
			height: 22px;
			padding: 1px;
			text-align: center;
			width: 84px;
		}
		.anchor-button:hover {
			text-decoration: none;
			color: white;
		}
		.post-title {
			display: block; font-weight: bold; font-size: 19px; margin-bottom: 6px;
		}
		.user-post-ic {
			float: left;
		}

		.user-info {
			display: block; line-height: 19px; margin-left: 43px;
		}
		.user-name {
			color: rgb(88, 88, 88); font-size: 13px;

		}
		.time-dist {
			line-height: 10px; display: block; color: rgb(134, 134, 134); font-size: 10px;

		}
		.post-message {
			display: block; 
			margin-top: 12px;

		}
		.post-message:hover {
			text-decoration: none;
		}
		.post-skills {
			border-top: 1px solid #f1f1f1;
		    color: rgb(137, 137, 137);
		    display: block;
		    margin-top: 10px;

		}
		.background {
			text-align: center; font-style: normal; font-size: 11px; margin-top: -16px; display: block; color: rgb(207, 207, 207);
		}
		.skill-wrap {
			display: block; margin: 8px 0px;
			text-align: center;
		}
		.back-text {
			background-color: rgb(249, 249, 250);

		}
		.main-skills {
			font-size: 13px;
			color: #8d8d8d;
		}
		.user-info-tag {
			display: inline-block; border: 1px solid rgb(229, 229, 229); border-radius: 14px; background-color: white; padding: 4px 8px 2px 10px;
		}

		@media only screen and (max-width: 768px) {
			/* For mobile phones: */
			.participated {
				width: 100% !important; 
				position: unset !important;
				float: unset !important;

			}
			.all-posts {
				width: 100% !important; margin-top: 12px !important;
			}
			.ui-widget.ui-corner-top.ui-chatbox {
				display: none !important;
			}
			.margin-div {
				margin-left: 5px !important;
				margin-right: 5px !important;
			}
		}
	</style>
<% end %>
<div>
	<div class="margin-div" style="margin-left: 50px; margin-right: 50px;">

	<div class="participated" style="width: 27%; position: fixed;">
		<% if current_user && !current_user.participated_posts.blank? %>

					<div style="background-color: rgb(255, 255, 255); box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.07); padding: 16px; text-align: center;"><b>Participated Learnings</b></div>
					<% current_user.participated_posts.each do |p| %>
						<div style="background-color: rgb(249, 249, 250); box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.07); padding: 16px;">
							<a href="<%= post_path(p) %>" style="text-decoration: none; display: inline-block; width: 200px;">
								<span style="display: block; color: rgb(68, 68, 68); font-size: 16px;"><%= p.title %></span>
								<% if p.requested_invites.length > 0 %>
									<div style="background-color: rgb(192, 66, 63); color: rgb(255, 255, 255); box-shadow: 0px 1px 1px rgb(154, 53, 50) inset; display: inline-block; padding: 0px 5px; font-size: 11px; border-radius: 5px;">
										<%= p.requested_invites.length %> joining requests!									
									</div>
								<% end %>
							 
							
							</a>
							
							
							<div class="chat-action-container" style="float: right; width: 95px; text-align: center;">
								<% if p.members.count > 1 %>
									<%=  link_to post_chats_path(p), onclick: on_click_js_event('#chat-pop-up-post-id-' + p.id.to_s), class: "show_chat anchor-button" do %>
										Open chat
										<% if p.unread_messages_count(current_user) > 0 %>
											<span class="notify_count"><%= p.unread_messages_count(current_user) %></span>
										<% end %>
									<% end %>
								<% end %>

								<span style="background-color: rgb(238, 238, 238); color: rgb(136, 136, 136); padding: 0px; font-size: 10px; display: inline-block;"><%= participants_text(p.members.count) %></span>

							</div>
							<div style="clear: both;"></div>
						</div>


					<% end %>
		<% else %>
		<div style="background-color: rgb(255, 255, 255); box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.07); padding: 16px; text-align: center; font-size: 23px; font-family: initial;">Start collaborative learning!<br>Find or create your learning post and participate actively!</div>

		<% end %>
		<a style="text-decoration: none; color: inherit;" href="<%= new_post_path %>" class="<%= current_user ? '' : 'ga_post_create' %>">
		<div style="background-color: rgb(78, 156, 175); text-align: center; padding: 15px; color: white; font-weight: bold; font-size: 19px; margin-top: 16px; border-radius: 14px;">Create learning post</div></a>

	</div>

	<div class="all-posts" style="float: right; width: 69%;">
		<div style="background-color: rgb(255, 255, 255); box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.07); padding: 16px; "><b>Recent learning posts</b></div>
		<div>
			<% Post.all.order_by_recency.each do |post| %>


				<div style="background-color: rgb(249, 249, 250); box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.07); padding: 16px;">
					<span class="post-title"><a href="<%= post_path(post) %>" style="color: #333;"><%= post.title %></a></span>
					<span class="user-post-ic"><%= gravatar_tag post.user.email, :d => :monsterid, :html => {:style => "height: 30px; width: 30px; border-radius: 20px;"} %>						
					</span>
					<span class="user-info">
						<span class="user-name"><%= post.user.name %></span>
						<span class="time-dist"><%= distance_of_time_in_words_to_now(post.created_at) %></span>

					</span>
					
					<a href="<%= post_path(post) %>" style="color: #333;" class="post-message"><%= markdown post.message.truncate(205) %></a>


					<% if post.members.length > 1 %>
						<span style="display: block; margin-top: 21px; margin-bottom: 30px;">
							<span class="post-skills"></span>
								<span class="skill-wrap">
									<span class="background" style="margin-bottom: 8px;">
										<span class="back-text">Participating Members</span>
									</span>
									<span class="main-skills">
										<% post.members.each do |u| %>
										<div class="user-info-tag">
											<%= gravatar_tag u.email, :d => :monsterid, :html => {:style => "height: 20px; width: 20px; border-radius: 20px;"} %>
											<span style="color: rgb(68, 68, 68); font-size: 12px;"><%= u.name rescue "N/A" %></span>

										</div>
										<% end %>
									</span>
								</span>			
								
						</span>
					<% end %>
					<span style="display: block;">
						<span class="post-skills"></span>
							<span class="skill-wrap">
								<span class="background">
									<span class="back-text">Background</span>
								</span>
								<span class="main-skills">
									<%= post.skills.first.title rescue "NA" %>
								</span>
							</span>			
							
					</span>

				</div>


				
			<% end %>
		</div>
	</div>
	<div style="clear: both;"></div>
	</div>
	<div class="chat-popups-container">
		<% (current_user.participated_posts rescue []).each_with_index do |p, index| %>
			<% if (p.members.count > 1) %>
				
					<%= render :partial => 'posts/chats/chat_pop_up', :locals=> {:post => p, :hidden => true} %>
				
			<% end %>
		<% end %>
	</div>
</div>
<script type="text/javascript">
	$('.ga_post_create').click(function() {
		_gaq.push(['_trackEvent', 'Post', 'create', 'click']);	
	})

	function popup_toggle_callback(sel) {
		if ($(sel).data("hidden") == true) {
			$(sel).data("hidden", false)
			var iframe = $(sel).find('iframe');
			iframe.attr('src', iframe.data('src'));
		}
	}
	$(document).ready(function() {
		$('.show_chat').first().click();
	})
	
</script>