<% content_for :head do %>
		<%= stylesheet_link_tag    'landing', media: 'all', 'data-turbolinks-track' => true %>
	
<% end %>
<div>
		<div style="margin-top: 15px; margin-left: 120px; width: 57%;" class="top-info" id="top-info">
			<div>
				<img src="<%= asset_path('profile.png') %>" style="width: 30%;"/>
				<div class="mot-text">Start collaborative learning!<br>Find or create your learning post and participate actively!</div>
			</div>
			<div id="search-wrap">
				<form action="<%= new_post_path %>" method="GET" style="margin-top: 44px;">
					<input class="search-bar" id="search-post" type="text" name="title" placeholder="Start searching..." style="font-size: 20px; width: 100%">
					<div id="no-result"></div>
					<input type="submit" id="create-post" class="create-post-btn btn btn-primary <%= current_user ? '' : 'ga_post_create' %>" value="Add new learning post">
				</form>
			</div>
		</div>
	<div class="margin-div">


		<% if current_user && !current_user.participated_posts.blank? %>
			<div class="participated">

					<div style="background-color: rgb(255, 255, 255); box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.07); padding: 16px; text-align: center;"><b>Participated Learnings</b></div>
					<% current_user.participated_posts.each do |p| %>
						<div style="background-color: rgb(249, 249, 250); box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.07); padding: 16px;">
							<a href="<%= post_path(p) %>" style="text-decoration: none; display: inline-block; width: 200px;">
								<span style="display: block; color: rgb(68, 68, 68); font-size: 16px;"><%= p.title %></span>
								<% if p.requested_invites.length > 0 %>
									<div style="background-color: rgb(192, 66, 63); color: rgb(255, 255, 255); box-shadow: 0px 1px 1px rgb(154, 53, 50) inset; display: inline-block; padding: 0px 5px; font-size: 11px; border-radius: 5px;">
										<%= p.requested_invites.length %> joining requests!									
									</div>
								<% end %>
							 
							
							</a>
							
							
							<div class="chat-action-container" style="float: right; width: 95px; text-align: center;">
								<% if p.members.count > 1 %>
									<%=  link_to post_chats_path(p), onclick: on_click_js_event('#chat-pop-up-post-id-' + p.id.to_s), class: "show_chat ga_show_chat anchor-button" do %>
										Open chat
										<% if p.unread_messages_count(current_user) > 0 %>
											<span class="notify_count"><%= p.unread_messages_count(current_user) %></span>
										<% end %>
									<% end %>
								<% end %>

								<span style="background-color: rgb(238, 238, 238); color: rgb(136, 136, 136); padding: 0px; font-size: 10px; display: inline-block;"><%= participants_text(p.members.count) %></span>

							</div>
							<div style="clear: both;"></div>
						</div>


					<% end %>


				</div>
		<% else %>
			<div class="participated-fix">
				<div class="side-text">You are not yet joined to any learning post<br>Find or create learning post of your interest!</div>
			</div>
		<% end %>
		
	<div class="all-posts" id="all-post" style="float: left; width: 69%;">


		<div style="padding: 16px 0; font-size: 25px;"><b>Recent learning posts</b></div>
		<div>
			<% Post.all.published.order_by_recency.each do |post| %>


				<div class="single-post-card">
					<div>
						<div style="display: inline-block;">
							<span class="user-post-ic"><%= gravatar_tag post.user.email, :d => :monsterid, :html => {:style => "height: 30px; width: 30px; border-radius: 20px;"} %>						
							</span>
							<span class="user-info">
								<span class="user-name"><%= post.user.name %></span>
								<span class="time-dist"><%= distance_of_time_in_words_to_now(post.created_at) %></span>

							</span>
						</div>
						<div class="post-extra-info">
							<span class="post-info" title="<%= post.upvotes.count %> Upvotes"><i class="fa fa-arrow-up post-action-icon" aria-hidden="true"></i><span><%= post.upvotes.count %></span></span>
							<span class="post-info" title="<%= post.members.count %> Participating members"><i class="fa fa-user post-action-icon" aria-hidden="true"></i> <span><%= post.members.count %></span></span>
						</div>
					</div>
					<h3 class="post-title"><a href="<%= post_path(post) %>" style="color: #000;"><%= post.title %></a></h3>
					<a href="<%= post_path(post) %>" style="color: #333;" class="post-message"><%= markdown post.message.truncate(205) %></a>

					<span style="display: block; margin-top: 28px;">
						<span class="post-skills"></span>
							<span class="skill-wrap">
								<span class="background">
									<span class="back-text">Background</span>
								</span>
								<span class="main-skills">
									<%= post.skills.first.title rescue "NA" %>
								</span>
							</span>			
							
					</span>

				</div>


				
			<% end %>
		</div>
	</div>
		
	<div style="clear: both;"></div>
	</div>
	<div class="chat-popups-container">
		<% (current_user.participated_posts rescue []).each_with_index do |p, index| %>
			<% if (p.members.count > 1) %> 
					<%= render :partial => 'posts/chats/chat_pop_up', :locals=> {:post => p, :hidden => true} %>
				
			<% end %>
		<% end %>
	</div>
</div>
<script type="text/javascript">
	$('.ga_post_create').click(function() {
		_gaq.push(['_trackEvent', 'Post', 'create', 'click']);	
	})
	var fix_head_height = $('#create-post').offset().top - $('#create-post').outerHeight() - $('#create-post').height()/2;

	function popup_toggle_callback(sel) {
		if ($(sel).data("hidden") == true) {
			$(sel).data("hidden", false)
			var iframe = $(sel).find('iframe');
			iframe.attr('src', iframe.data('src'));
		}
	}
	make_create_cta_fix();
	$(document).ready(function() {
		$('.show_chat').first().click();
		$('.ga_show_chat').click(function() {
			ga("send", "event", "Home", "Open chat", "click");
		})
		$(window).scroll(function (event) {
		    make_create_cta_fix();
		});


		$('#search-post').autocomplete({
			source: function(request, response) {
				$.ajax({
				    url: "<%= search_posts_path() %>",
				    data: { keyword: $('#search-post').val()},
				    dataType: "json",
				    type: "GET",
				    success: function(data) { 
						if(!data.length){
							$('#no-result').text("No results");
						}
						else{
							$('#no-result').text("No results");
						}
				        response($.map(data, function(obj) {
				            return {
				                label: obj.title,
				                value: obj.to_param
				            };
				        }));
				    }

				});    
			},
			select: function( event, ui ) {
			    window.location.href = '/posts' + '/' + ui.item.value
			    
			},
			minLength: 2
		  });



		

	})

	function make_create_cta_fix() {
		var scroll = $(window).scrollTop();
		    if (scroll > fix_head_height) {
		    	$('#create-post').addClass('fix-head');
		    	$('.margin-div').addClass('margin-fix')



		    }
		    else {
		    	$('#create-post').removeClass('fix-head');
		    	$('.margin-div').removeClass('margin-fix')



		    }
	}
	
</script>