<div>
	Welcome to Co-learn
	<div>
		<b>All Posts</b>
		<ul>
			<% Post.all.each do |post| %>
				<li><a href="<%= post_path(post) %>"><%= post.title %> - <%= post.user.name %></a>

					
				</li>
				<%=  link_to "Show Chat", post_chats_path(post.id), remote: true, onclick: raw("showChat("+ post.id.to_s + ",'" + post.title.to_s + "','" + post.user.name.to_s + "'); return false;"), class: "show_chat" %>
				<%= link_to "Hide Chat", '#', onclick: "hideChat(" + post.id.to_s + "); return false;", class: "hide_chat" %>
				<hr>
			<% end %>
		</ul>
	</div>
</div>