<% content_for :head do %>
		<%= stylesheet_link_tag    'landing', media: 'all', 'data-turbolinks-track' => true %>
	
<% end %>
<div>
		
			<div id="search-wrap">

				<form class="search-form" action="<%= new_post_path %>" method="GET" style="/*margin-top: 60px; */">
					<input id="create-post" class="create-post-btn btn <%= current_user ? '' : 'ga_post_create' %>" value="Create learning post" type="submit" value="Find" style="float: right" />
					<div style="overflow: hidden; padding-right: .5em;">
					   <input class="search-bar form-control" name="title" placeholder="what do you want to learn?" id="search-post" type="text" style="width: 100%;" />
					</div>
					
					<div id="no-result"></div>
					
				</form>

			</div>
	<div class="margin-div">
		<div class="search-filter">
			<span>Search results for: </span><span class="search-keyword">params[:keyword]</span>
		</div>

		
		<div class="all-posts" id="all-post" style="float: left; width: 69%;">

		
					<div>
						<% Post.all.published.order_by_recency.each do |post| %>


							<div class="single-post-card">
								<div>
									<div style="display: inline-block;">
										<span class="user-post-ic"><%= gravatar_tag post.user.email, :d => :monsterid, :html => {:style => "height: 30px; width: 30px; border-radius: 20px;"} %>						
										</span>
										<span class="user-info">
											<span class="user-name"><%= post.user.name %></span>
											<span class="time-dist"><%= distance_of_time_in_words_to_now(post.created_at) %></span>

										</span>
									</div>
									<div class="post-extra-info">
										<span class="post-info" title="<%= post.upvotes.count %> Upvotes"><i class="fa fa-arrow-up post-action-icon" aria-hidden="true"></i><span><%= post.upvotes.count %></span></span>
										<span class="post-info" title="<%= post.members.count %> Participating members"><i class="fa fa-user post-action-icon" aria-hidden="true"></i> <span><%= post.members.count %></span></span>
									</div>
								</div>
								<h3 class="post-title"><a href="<%= post_path(post) %>" style="color: #000;"><%= post.title %></a></h3>
								<a href="<%= post_path(post) %>" style="color: #333;" class="post-message"><%= markdown post.message.truncate(205) %></a>

								<span style="display: block; margin-top: 28px;">
									<span class="post-skills"></span>
										<span class="skill-wrap">
											<span class="background">
												<span class="back-text">Background</span>
											</span>
											<span class="main-skills">
												<%= post.skills.first.title rescue "NA" %>
											</span>
										</span>			
										
								</span>

							</div>


							
						<% end %>
					</div>


		</div>
		<div style="clear: both;"></div>
	</div>
</div>


<script type="text/javascript">
	$('.ga_post_create').click(function() {
		_gaq.push(['_trackEvent', 'Post', 'create', 'click']);	
	})
	var fix_head_height = $('#create-post').offset().top - $('#create-post').outerHeight() - $('#create-post').height()/2;

	function popup_toggle_callback(sel) {
		if ($(sel).data("hidden") == true) {
			$(sel).data("hidden", false)
			var iframe = $(sel).find('iframe');
			iframe.attr('src', iframe.data('src'));
		}
	}
	//make_create_cta_fix();
	$(document).ready(function() {
		$('.show_chat').first().click();
		$('.ga_show_chat').click(function() {
			ga("send", "event", "Home", "Open chat", "click");
		})

		$('#search-post').autocomplete({
			source: function(request, response) {
				$.ajax({
				    url: "<%= search_posts_path() %>",
				    data: { keyword: $.trim($('#search-post').val())},
				    dataType: "json",
				    type: "GET",
				    success: function(data) { 
						if(!data.length){
							//TODO: create a div and hide, show here.
							$('#no-result').html("<div class=\"search-no-results\">No results. Create your own learning post? <a style=\"text-decoration: none;z-index: 100000; color: inherit;\" href=\"<%= new_post_path() %>" + "?title=" + $("#search-post").val() +"\"class=\"login ga_post_create\"><div class=\"btn  btn-primary side-float-btn\">Create </div></a></div>");
						} else {
							$("#no-result").html("");
						}
				        response($.map(data, function(obj) {
				            return {
				                label: obj.title,
				                value: obj.title,
				                description: obj.to_param
				            };
				        }));
				    }

				});    
			},
			select: function( event, ui ) {
			    window.location.href = '/posts' + '/' + ui.item.description
			    
			},
			minLength: 2
		  });

		$(".search-bar").focus(function() {
			$("#search-wrap").addClass("search-bar-active");
			$(".header").hide();
			$("#search-wrap .create-post-btn").addClass("search-bar-active-btn");
			util.showFullPageOverlay();
		});
		$("#overlay-full-page-div").click(function() {	
			$("#search-wrap").removeClass("search-bar-active");
			$("#search-wrap .create-post-btn").removeClass("search-bar-active-btn");
			$(".header").show();
			util.hideFullPageOverlay();	
			$("#no-result").html("");
		});
	});
</script>