<% hidden = local_assigns[:hidden] || false %>
<% if post.is_member?(current_user) && post.members.count > 1 %>

	<div id="chat-pop-up-post-id-<%= post.id %>" data-hidden="<%= hidden %>" style="<%= hidden ? 'display: none;' : ''; %>" class="chat-pop-up"> <!--TODO: move this helper -->
		<div class="chat-pop-up-header btn">
			<div class="chat-pop-up-post-title ga_embed_title text-hidden"><%= post.title %></div> 
			<div class="chat-pop-up-minimize btn ga_embed_min"><i class="fa fa-window-minimize"></i></div>
			<a target="_blank" class="chat-pop-up-maximize btn ga_embed_max" href="<%= post_chats_path(post)%>">
				<div><i class="fa fa-expand" aria-hidden="true"></i></div>
			</a>
			<div class="chat-pop-up-close btn ga_embed_close"><i class="fa fa-times-circle fa-lg" aria-hidden="true"></i></div>
		</div>
			<iframe id="chat-pop-up-frame-id" data-src="<%= post_chats_path(post, :mode => 'embed') %>" class="chat-pop-up-frame" src="<%= hidden ? '' : post_chats_path(post, :mode => "embed") %>">Loading...</iframe> 
		
		<!-- <iframe src="http://localhost:3000/"></iframe> -->
	</div>
	</a>
<% end %>
<% content_for :scripts do %>
	<script type="text/javascript">

		(function() {

			var hidden = <%= hidden %>;
			var popUpElementId = "#chat-pop-up-post-id-<%= post.id %>"; // can be improved to find the elements after selecting this.

			if (hidden) {
				$(popUpElementId).hide();
			}
			$(popUpElementId + ' .chat-pop-up-header').click(function() {
			    var frame = $(popUpElementId + ' .chat-pop-up-frame');
			   	frame.toggle(500);
			   	var title = $(popUpElementId + ' .chat-pop-up-post-title');
			   	if (title.hasClass('text-hidden')) {
			   		title.removeClass('text-hidden');
			   	} else {
			   		title.addClass('text-hidden');
			   	}
			});
			$(popUpElementId + ' .chat-pop-up-close').click(function() {
			    console.log("close clicked");
			    var frame = $(popUpElementId);
			   	frame.hide(500);
			   	return false;
			});
			$('.ga_embed_title').click(function() {
				ga("send", "event", "Chat-Popup", "title-bar", "click");
			})
			$('.ga_embed_min').click(function() {
				ga("send", "event", "Chat-Popup", "minimize", "click");
			})
			$('.ga_embed_max').click(function() {
				ga("send", "event", "Chat-Popup", "maximize", "click");
			})
			$('.ga_embed_close').click(function() {
				ga("send", "event", "Chat-Popup", "close", "click");
			})


		})();
		
	</script>
<% end %>