<div class="chat-box">
  
  <div class="chat-area">
    <div class="user-container">
      <div class="logo-container">
        Colearn
      </div>
      <div class="participate-mem">
        Participating members
      </div>
      <div class="user-area">
        
      </div>
    </div>
    <div class="messages-area">
      <header class="chat-title-bar">
        <%= @chatable.title %>
      </header>
      <div class="client_main_container">
        <div class="messages">

        </div>
      </div>
    <div class="input-container">
    <div class="add-attachment js_add_attachment">
      <%= form_for Chat.new, url: post_chats_path(@chatable), remote: true, html: {class: "chat-form js_upload_form", enctype: "multipart/form-data" } do |f| %>
        <%= f.hidden_field :message, :value => "Attachment"%>
        <input type="file" name="avatar"/> 
        <%= f.submit "Upload" %>
      <% end %>
    </div>
      <input type="text" class="message-input-area" placeholder="Message here" />
      <iframe name="hidden-iframe" style="display: none;">
        
      </iframe>
      
     
    </div>   
   </div>
  </div>
</div>
<% content_for :scripts do %>
<script type="text/javascript">
  $('.js_upload_form').bind("ajax:success", function() {
      });

  $('.js_upload_form').on("ajax:remotipartComplete", function(e, data) {
    console.log('adsaasd', e, data)
  });

  jQuery(document).ready(function() {
   
    window.currentPostId = <%= @chatable.id; %> // make this generic chatable 
    chatController(currentPostId);
    $('.js_add_attachment').click(function() {
      if($('.js_upload_form').is(":visible")) {
        $('.js_upload_form').hide();
      }
      else {
        $('.js_upload_form').show();
      }
    })
  });
  
</script>

<% end %>