
<div class="chat-box">
  
  <div class="chat-area">
    <div class="user-container js_users">
      <a href="<%= params[:mode] == 'embed' ? 'javascript:void(0);' : root_path %>" class="logo-container">
        Colearn
      </a>
      <span class="user-menu-close glyphicon glyphicon-align-justify js_user_menu_close ga_user_list_hide"></span>
      <div class="participate-mem">
        Participating members
      </div>
      <div class="user-area ga_user_area">
        
      </div>

      <% if params[:mode] != 'embed' %>
        <div class="app-in-chat"><a href="https://play.google.com/store/apps/details?id=xyz.colearn.colearnnotification"><img src="<%= asset_path('google_play.png') %>"><span class="download-text">Colearn Notification</span></a></div>
      <% end %>
    </div>
    <div class="messages-area <%= params[:mode] %>">
      <header class="chat-title-bar">
      <span class="chat-user-list glyphicon glyphicon-align-justify btn js_chat_list_btn ga_user_list_show"></span>
        <span class="chat-post-title"><%= @chatable.title %></span>
        <% if params[:mode] != 'embed' %> 

          <div class="account">
            <div class="dropdown" style="display: inline-block;">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                <div class="user-picture" style="display: inline-block;">
                  <img src="<%= current_user.picture %>" style="height: 30px; width: 30px; border-radius: 20px;" >

                </div>
              </a>
              <ul class="dropdown-menu pull-right">
                <li ><a target="_blank" href="<%= edit_user_registration_path %>">Edit Profile</a></li>
                <% if @chatable.user.id != current_user.id %>
                  <li class="leave-post js-leave-post" ><a href="javascript:void(0);">Leave</a></li>
                <% end %>
                <hr>
                <li ><a  href="<%= destroy_user_session_path %>" data-method="DELETE", class="signout">Signout</a></li>
              </ul>
            </div>
              
          </div>
      <% end %>      
      </header>
      <div class="client_main_container">
        <div class="messages">

        </div>
      </div>
    <div class="input-container">
    <div class="add-attachment">
    <div class="upload-button glyphicon glyphicon-plus js_add_attachment ga_add_attachment"></div>
      <%= form_for Chat.new, url: post_chats_path(@chatable), remote: true, html: {class: "chat-form js_upload_form", enctype: "multipart/form-data" } do |f| %>
        <%= f.hidden_field :message, :value => "Attachment"%>
        <input type="file" name="avatar"/> 
        <%= f.submit "Upload", :class => "upload-submit" %>
      <% end %>
    </div>
      <textarea class="message-input-area" placeholder="Message here" ></textarea>
      <iframe name="hidden-iframe" style="display: none;">
        
      </iframe>
      
     
    </div>   
   </div>
  </div>
</div>

<div id="leave-request" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Leave the learning post</h4>
      </div>
      <div class="modal-body">
        <p>

          <%= form_for @chatable.getUserInvite(current_user), :url => post_invite_path(@chatable, @chatable.getUserInvite(current_user), :status => Invite::STATUS[:left]), remote: true, html: {class: "ajax-loader-form js_join_req_form"} do |f| %>
            <p>Why are you leaving? (Will not be shown publically)</p>
        <p><%= f.text_area :leave_message, :style => "width: 100%;", required: true  %></p>
        <%= f.submit "Leave", :class => "btn btn-danger js_join_req" %>
      <% end %>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<% content_for :scripts do %>
<script type="text/javascript">
  chatGlobalOpts = {};
  <% if params[:mode] %> 
    chatGlobalOpts.mode = '<%= params[:mode] %>';
  <% end %>
  $('.js_upload_form').bind("ajax:success", function() {
      });

  $('.js_upload_form').on("ajax:remotipartComplete", function(e, data) {
  });

  $(document).ready(function() {

   
    reset_frame();
    $( window ).resize(function() {
      reset_frame();
    });

   
    window.currentPostId = <%= @chatable.id; %> // make this generic chatable 
    chatController(currentPostId);
    $('.js_add_attachment').click(function() {
      if($('.js_upload_form').is(":visible")) {
        $('.js_upload_form').hide();
      }
      else {
        $('.js_upload_form').show();
      }
    }); 
    $('.js_upload_form').submit(function() {
      $('.js_upload_form').hide();
    });
    $('.js_chat_list_btn').click(function() {
      $('.js_users').show('slide', {direction: 'left'}, 500);

    })
    $('.js_user_menu_close').click(function() {
      $('.js_users').hide('slide', {direction: 'left'}, 500);
    });

    $('.ga_user_list_show').click(function() {
      ga("send", "event", "Chat-Popup", "show-user-sidebar", "click");
    });
    $('.ga_user_list_hide').click(function() {
      ga("send", "event", "Chat-Popup", "hide-user-sidebar", "click");
    });
    $('.ga_add_attachment').click(function() {
      ga("send", "event", "Chat-screen", "add-attachment", "click");
    });
    $('.ga_user_area').click(function() {
      ga("send", "event", "Chat-screen", "user-area", "click");
    });

  }); 



  function reset_frame() {
    var ht = $(window).height() - $('.chat-title-bar').outerHeight() - $('.input-container').outerHeight();
     $('.messages').outerHeight(ht);
     $('.user-area').outerHeight(ht - <%= params[:mode] == 'embed' ? 0 : 65 %>);
  }


  $( ".js_users" ).on( "swl", function() {
    $('.js_users').hide('slide', {direction: 'left'}, 500);
    return false;
  });
  $(".js-leave-post").click(function() {
    // return confirm("You are leaving the learning post. You will not be able to chat with the members.");
    $('#leave-request').modal('show');
  });
</script>

<% end %>