<div class="chat-box">
  
  <div class="chat-area">
    <div class="user-container">
      <a href="<%= root_path %>" class="logo-container">
        Colearn
      </a>
      <div class="participate-mem">
        Participating members
      </div>
      <div class="user-area">
        
      </div>
    </div>
    <div class="messages-area">
      <header class="chat-title-bar">
      <span class="chat-user-list glyphicon glyphicon-th-list btn"></span>
        <span class="chat-post-title"><%= @chatable.title %></span>
        <div class="account">
               <%= gravatar_tag current_user.email, :d => :monsterid, :html => {:style => "height: 30px; width: 30px; border-radius: 20px;"} %>
              
                <a  href="<%= destroy_user_session_path %>" data-method="DELETE", class="signout btn">Signout</a>
            </div>
      </header>
      <div class="client_main_container">
        <div class="messages">

        </div>
      </div>
    <div class="input-container">
    <div class="add-attachment">
    <div class="upload-button js_add_attachment"></div>
      <%= form_for Chat.new, url: post_chats_path(@chatable), remote: true, html: {class: "chat-form js_upload_form", enctype: "multipart/form-data" } do |f| %>
        <%= f.hidden_field :message, :value => "Attachment"%>
        <input type="file" name="avatar"/> 
        <%= f.submit "Upload", :class => "upload-submit" %>
      <% end %>
    </div>
      <input type="text" class="message-input-area" placeholder="Message here" />
      <iframe name="hidden-iframe" style="display: none;">
        
      </iframe>
      
     
    </div>   
   </div>
  </div>
</div>









<% content_for :scripts do %>
<script type="text/javascript">
  $('.js_upload_form').bind("ajax:success", function() {
      });

  $('.js_upload_form').on("ajax:remotipartComplete", function(e, data) {
    console.log('adsaasd', e, data)
  });

  $(document).ready(function() {

    $('.messages').outerHeight($(window).height() - $('.chat-title-bar').outerHeight() - $('.input-container').outerHeight());

    $( window ).resize(function() {
      $('.messages').outerHeight($(window).height() - $('.chat-title-bar').outerHeight() - $('.input-container').outerHeight());
    });

   
    window.currentPostId = <%= @chatable.id; %> // make this generic chatable 
    chatController(currentPostId);
    $('.js_add_attachment').click(function() {
      if($('.js_upload_form').is(":visible")) {
        $('.js_upload_form').hide();
      }
      else {
        $('.js_upload_form').show();
      }
    }); 
    $('.js_upload_form').submit(function() {
      $('.js_upload_form').hide();
    });

  }); 
</script>

<% end %>