<div id="sign-in-form" class="register-wrap" style="text-align: center; <%= params[:type] == 'login' ? '' : 'display: none;' %>">
  <div class="register-inner">

    <h2>Sign in or <a class="js_sign_up_path" href="javascript:void(0)">Sign up</a></h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => "register-form"}) do |f| %>
      <div class="field">
        <%= f.email_field :email, autofocus: true, placeholder: 'Email' %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign in", class: "register-action btn" %>
      </div>
    <% end %>
    <div>
      <%= render :partial => "devise/shared/links", :locals => {:entry_type => 'existing'} %>
    </div>
  </div>
</div>
<div id="sign-up-wrap" style="<%= params[:type] != 'login' ? '' : 'display: none;' %>">
  <%= render :partial => 'devise/registrations/register_form' %>
</div>

