<div>
	<%= form_for @post, html: {class: "post-form"} do |f| %>
		<%= f.label :Title %><br>
		<%= f.text_field :title %><br>
		<%= f.label :Description %><br>
		<%= f.text_area :message, :"data-provide" => "markdown" %>
		<%= f.fields_for :skills do |builder| %>
		    <%=  builder.text_field :title %>
		  <% end %>
		<%= f.submit "Create" %>
	<% end %>
</div>