<% content_for(:head) do %>
	<title>Colearn - <%= @post.title %></title>
	<style type="text/css">
		.user-post-ic {
			float: left;
		}

		.user-info {
			display: block; line-height: 19px; margin-left: 43px;
		}
		.user-name {
			color: rgb(88, 88, 88); font-size: 13px;

		}
		.time-dist {
			line-height: 10px; display: block; color: rgb(134, 134, 134); font-size: 10px;

		}
		.participated {
			float: left; 
			display: inline-block; 
			border: 1px solid rgb(232, 232, 232); 
			box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.05);
		}
		.anchor-button {
			    background: #4e9caf none repeat scroll 0 0;
			    border-radius: 5px;
			    color: white;
			    display: inline-block;
			    font-weight: bold;
			    height: 18px;
			    padding: 1px;
			    text-align: center;
			    width: 75px;
		}
		.anchor-button:hover {
			text-decoration: none;
			color: white;
		}
		.post-skills {
				border-top: 1px solid #c7c7c7;
			    color: rgb(137, 137, 137);
			    display: block;
			    margin-top: 10px;

			}
			.background {
				text-align: center; font-style: normal; font-size: 11px; margin-top: -16px; display: block; color: #686868;
			}
			.skill-wrap {
				display: block; margin: 8px 0px;
				text-align: center;
			}
			.back-text {
			background-color: #e9eaec;

			}
			.main-skills {
				font-size: 13px;
				color: #8d8d8d;
			}

		@media only screen and (max-width: 768px) {
			/* For mobile phones: */
			.participated {
				width: auto !important; 
				position: unset !important;
				float: unset !important;
				display: block !important;

			}
			.post-detail {
				width: 100% !important; margin-top: 12px !important;
				float: unset !important;
				display: block !important;
			}
			.ui-widget.ui-corner-top.ui-chatbox {
				display: none !important;
			}
			#comment {
				width: 100% !important;
			} 
			.header {
				width: 100% !important;
			}

		}
	</style>
<% end %>

<div style="">
	<% if @post.is_closed? %>
		<div style="color: #d9534f; text-align: right;">This post is now closed</div>
	<% end %>
	<div style="width: 25%; <%= @post.user == current_user ? '' : 'position: fixed;' %>" class="participated">

				<% if @post.is_member?(current_user) %>
					<div style="margin-bottom: 30px;">
						<div style="background-color: rgb(255, 255, 255); box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.07); padding: 16px; text-align: center;"><b>Join requests</b>
							
						</div>
							
							<% if @post.requested_invites.count == 0%>
								<div style="background: #f9f9fa;text-align: center;box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.07);height: 30px;padding-top: 4px;padding-bottom: 4px;">No new join request</div>
							<% end%>
							<% @post.requested_invites.each do |i| %>
								<div style="background-color: rgb(249, 249, 250); box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.07); padding: 16px;">
									<%= gravatar_tag i.user.email, :d => :monsterid, :html => {:style => "height: 30px; width: 30px; border-radius: 20px;"} %>
										<span style="color: rgb(68, 68, 68); font-size: 16px;"><%= i.user.name %></span>
										
										<span style="float: right;">
											<a data-name="<%= i.user.name %>" data-path="<%= post_invite_path(@post, i, :status => 3) %>" style="margin-right: 10px;" href="javascript:void(0)" class="js_reject_call">
												<i class="remove glyphicon glyphicon-remove-sign glyphicon-white" style="color: red; font-size: 18px;"></i>
											</a>
											<a href="<%= post_invite_path(@post, i, :status => 2) %>" data-method="put" data-remote="true">
												<i class="remove glyphicon glyphicon-ok glyphicon-white" style="color: green; font-size: 18px;"></i>
											</a>
										</span>
										<div style="padding: 0px 5px; font-size: 11px; display: block;">
											<%= i.message %>								
										</div>
									
								</div>
							<% end %>
					</div>
				<% end %>

				<div>
					<div style="background-color: rgb(255, 255, 255); box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.07); padding: 16px; text-align: center;"><b>Participating members</b>
					<% if @post.is_member?(current_user) %>
						<span style="display: block; font-size: 12px;"><%=  link_to "Show Chat", post_chats_path(@post), remote: true, onclick: raw("showChat("+ @post.id.to_s + ",'" + @post.title.to_s + "','" + current_user.name.to_s + "'); return false;"), class: "show_chat anchor-button mobile-hide" %></span>
					<% end %>
					</div>
						

						<% @post.members.each do |u| %>
							<div style="background-color: rgb(249, 249, 250); box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.07); padding: 8px;">
								<%= gravatar_tag u.email, :d => :monsterid, :html => {:style => "height: 30px; width: 30px; border-radius: 20px;"} %>
									<span style="color: rgb(68, 68, 68); font-size: 16px;"><%= u.name rescue "N/A" %></span>
								
							</div>
						<% end %>
				</div>

		<% if @post.user != current_user %>
			<% if !@post.user_requested?(current_user) && !@post.is_member?(current_user) %>
				<% if @post.is_closed? %>
				<div style="padding: 6px 0px 0px 4px; color: #d9534f;">This post is now closed!</div>
                   	<a style="text-decoration: none; color: inherit;" href="<%= current_user ? new_post_path : 'javascript:void(0)' %>" class="<%= current_user ? '' : 'login ga_post_create' %>">
						<div style="background-color: rgb(78, 156, 175); text-align: center; padding: 15px; color: white; font-weight: bold; font-size: 19px; border-radius: 14px;">Create new learning post</div>
					</a>
                <% else %>
                   	<div id="invite-req" style="background-color: rgb(78, 156, 175); text-align: center; padding: 15px; color: white; font-weight: bold; font-size: 19px; margin-top: 16px; border-radius: 14px; cursor: pointer;" >Interested? join this post!</div>
                   	<div style="margin: 12px; text-align: center"><div>OR</div></div>
                   	<a style="text-decoration: none; color: inherit;" href="<%= current_user ? new_post_path : 'javascript:void(0)' %>" class="<%= current_user ? '' : 'login ga_post_create' %>">
						<div style="background-color: rgb(78, 156, 175); text-align: center; padding: 15px; color: white; font-weight: bold; font-size: 19px; border-radius: 14px;">Create new learning post</div>
					</a>
                <% end %>
            <% elsif !@post.is_member?(current_user) %>

				<div style="background-color: rgb(78, 156, 175); text-align: center; padding: 15px; color: white; font-weight: bold; font-size: 19px; margin-top: 16px; border-radius: 14px; cursor: pointer;" >Already join request sent</div>
			<% end %>
		<% end %>

	</div>
	
	<div class="post-detail" style="width: 69%; display: inline-block; float: right; margin-right: 37px; text-align: left;">
		<h3 style="font-weight: bold;"><%= @post.title%></h3>
		<% if @post.user == current_user && !@post.is_closed? %>
			<%= link_to close_post_path(@post), :"data-confirm" => "Are you sure?\nAfter closing this post no new member can send join request", :title => "This will not allow any new member to join the post", :method => "post", :class => "btn btn-danger", :style => "font-size: 12px; padding: 2px;" do %>
				Mark as closed
			<% end %>
		<% end %>
		<hr>
		<div class="post-area">

			<div class="vote-area">
				<%= link_to 'upvote', post_votes_path(@post, :vote_type => 1), :class => "upvote arrow-up #{@post.user_vote_type(current_user) == Vote::TYPE[:upvote] ? 'upvoted' : ''}" , :title => "Post is clear and shows dedication for learning", remote: true, method: :post%>
				<br>
				<div class="vote-count" ><%= @post.total_vote_count %></div>
				
				<%= link_to 'downvote', post_votes_path(@post, :vote_type => 2), :class => "downvote arrow-down #{@post.user_vote_type(current_user) == Vote::TYPE[:downvote] ? 'downvoted' : ''}", :title => "Post is not clear and does not shows dedication for learning" , remote: true, method: :post %>
			</div>
			<div > 
				<p style="margin-bottom: 20px; display: inline;">
					<%= markdown(@post.message) %>
				</p>
				<span style="display: block;">
					<span class="post-skills"></span>
					<span class="skill-wrap">
						<span class="background">
							<span class="back-text">Background</span>
						</span>
						<span class="main-skills">
							<%= @post.skills.first.title rescue "NA" %>
						</span>
					</span>			
							
				</span>
			</div>
			
		</div>	

		<% if !@post.is_closed? && !@post.is_member?(current_user) && !@post.user_requested?(current_user) %>
			<div style="padding: 16px; margin-top: 10px;">
				<p>
	        	<%= form_for Invite.new, :url => post_invites_path(@post, :status => 1), remote: true, html: {class: "ajax-loader-form"} do |f| %>
	        		<label for="usr" style="font-size: 18px;">Interested to join this learning post?<span style="color: rgb(141, 141, 141); font-size: 13px; display: block;"> This message should include your background/skills relevant to this post (Be specific)</span></label>
					<p><%= f.text_area :message, required: true, :style => "width: 100%;", :class => "form-control #{current_user ? '' : 'js_join_msg'}" %></p>
					<%= f.submit "Request to Join", :class => "btn btn-success js_join_req", :disabled => current_user.blank? %>
				<% end %>
	        </p>
			</div>
		<% end %>




		<% if @post.members.length > 1 %>

			<div style="padding: 16px; text-align: left; margin-top: 15px;">
				<p style="font-weight: bold; border-bottom: 1px solid rgb(168, 168, 168);">Participating members</p>
				<div>
					<% @post.accepted_invites.each do |invite| %>
						<div style="margin-bottom: 10px;">
							<div style="padding: 8px;">
									<%= gravatar_tag invite.user.email, :d => :monsterid, :html => {:style => "height: 25px; width: 25px; border-radius: 20px;"} %>
										<span style="color: rgb(68, 68, 68); font-size: 14px; font-weight: bold;"><%= invite.user.name rescue "N/A" %></span>
										<div style="padding-left: 29px; font-size: 13px;">
											<%= @post.user == invite.user ? @post.skills.first.title : invite.message %>
										</div>
									
								</div>
						</div>
					<% end %>
				</div>

			</div>
		<% end %>






		<div style="padding: 16px; text-align: left;">
			<p style="font-weight: bold; border-bottom: 1px solid rgb(168, 168, 168);">Comments</p>
			<div id="comment-list">
				<% @post.comments.reorder(id: :asc).each do |c| %>
					<%= render :partial => 'single_chat', :locals => {:comment => c} %>
				<% end %>
			</div>


			<%= form_for Comment.new, :url => post_comments_path(@post), remote: true do |f| %>
					<div class="form-group">
					<%= f.text_field :message, :class => "form-control", :id => "comment", :style => "width: 600px; display: inline;" %>
					<%= f.submit "Comment", :class => "btn-primary ajax-loader" %>
					</div>
				
			<% end %>
		</div>


		<div id="chat_div<%= @post.id %>"> <!-- todo: create chat_div id using a helper method.-->
		</div>

	</div>
</div>



<!-- Modal -->
<div id="join-request" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Request to join</h4>
      </div>
      <div class="modal-body">
        <p>
        	<%= form_for Invite.new, :url => post_invites_path(@post, :status => 1), remote: true, html: {class: "ajax-loader-form js_join_req_form"} do |f| %>
        		<p>This message should include your background/skills relevant to this post (Be specific)</p>
				<p><%= f.text_area :message, :style => "width: 100%;", required: true  %></p>
				<%= f.submit "Request to Join", :class => "btn btn-success js_join_req" %>
			<% end %>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>













<!-- Modal -->
<div id="reject-message" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title js_reject_title">Reject message</h4>
      </div>
      <div class="modal-body">
        <p>
        	<%= form_tag "", remote: true, class: "ajax-loader-form", method: "put" do %>
        		<p class="js_reject_message"></p>
				<p><%= text_area_tag :reject_message, nil, :style => "width: 100%;", required: true  %></p>
				<%= submit_tag "Reject", :class => "btn btn-success" %>
			<% end %>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>













<div style="clear: both;"></div>
<script type="text/javascript">
	<% if @post.is_member?(current_user) && @post.members.count > 1 %>
		setTimeout(function() {
			showChat(<%= @post.id %>, "<%= escape_javascript(@post.title.to_s) %>", "<%= current_user.name.to_s %>"); 
		}, 2000);
		
	<% end %>
	$('#invite-req').click(function() {
		<% if current_user %>
			ga("send", "event", "Post", "Invites", "join_post_req_logged_in", <%= @post.id%>);
			$('#join-request').modal('show');
		<% else %>
			ga("send", "event", "Post", "Invites", "join_post_req_not_logged_in", <%= @post.id%>);
			$('#login-div').modal('show');
		<% end %>
	});
	$('.js_join_req_form').submit(function() {
		$('#join-request').modal('hide');
	})
	$('.js_join_msg').click(function(e){
		e.preventDefault();
		$('#login-div').modal('show');
	});
	$('.js_reject_call').click(function() {
		var modal = $('#reject-message');
		modal.find('.js_reject_title').text('Reject ' + $(this).data('name') + ' join request');
		modal.find('.js_reject_message').text('Let ' + $(this).data('name') + ' know why you rejected this request.');
		modal.find('form').attr("action", $(this).data("path"));
		modal.modal('show')
	})
</script>