<% content_for(:head) do %>
	<title>Colearn - <%= @post.title %></title>
	<style type="text/css">
	.play-app-container{
		margin-left: 37px;
	}
		.user-post-ic {
			float: left;
		}
		.req-action {
			text-decoration: none;
		}
		a.req-action {
			text-decoration: none;
		}
		.suggest-block {
			background-color: #fff;
			box-shadow: 0 1px 4px rgba(0,0,0,.04);
			margin: 9px 0;
			border: 1px solid rgba(0,0,0,.09);
			border-radius: 3px;
			padding: 16px; text-align: left;
		}
		.suggest-vote-area {
			line-height: 1;
		}
		.suggestion-wrap {
			padding-bottom: 14px;
    		border-bottom: 1px solid #c7c7c7;
    		margin-top: 37px;
		}
		.suggestion-wrap:last-child {
			border-bottom: none;
		}
		.suggest-content {
			float: left;
			text-align: left;
			max-width: 91%;
		}
		.comment-info {
			float: right;
			color: #0ab575;
		}
		.comment-section {
			cursor: pointer;
		}
		.comment-info i {
			font-size: 18px;
			font-weight: bold;
		}

		.user-info {
			display: block; line-height: 19px; margin-left: 43px;
		}
		.user-name {
			color: rgb(88, 88, 88); font-size: 13px;

		}
		.time-dist {
			line-height: 10px; display: block; color: rgb(134, 134, 134); font-size: 10px;

		}
		.participated {
			display: inline-block; 
			width: 28%;
			position: fixed;
			right: 56px;
			margin-top: 40px;
		}
		.anchor-button {
			    background: #4e9caf none repeat scroll 0 0;
			    border-radius: 5px;
			    color: white;
			    display: inline-block;
			    font-weight: bold;
			    height: 18px;
			    padding: 1px;
			    text-align: center;
			    width: 75px;
		}
		.anchor-button:hover {
			text-decoration: none;
			color: white;
		}
		.post-skills {
			border-top: 1px solid #c7c7c7;
		    color: rgb(137, 137, 137);
		    display: block;
		    margin-top: 10px;

		}
		.background {
			text-align: center; font-style: normal; font-size: 11px; margin-top: -16px; display: block; color: #686868;
		}
		.skill-wrap {
			display: block; margin: 8px 0px;
			text-align: center;
		}
		.back-text {
			background-color: #fff;
			padding: 0 9px;

		}
		.main-skills {
			font-size: 14px;
			color: #8d8d8d;
		}
		.post-detail-card {

		}
		.post-detail {
			width: 58%;
		    display: inline-block;
		    float: left;
		    margin-left: 37px;
		    text-align: left;
		}
		.side-float-btn {
			background-color: rgb(78, 156, 175); */
		    font-size: 19px;
		    margin-top: 16px;
		    width: 100%;
		}
		.post-info {
			background-color: #fff;
		    box-shadow: 0 1px 4px rgba(0,0,0,.04);
		    margin: 9px 0;
		    border: 1px solid rgba(0,0,0,.09);
		    border-radius: 3px;
		    padding: 16px;
		}
		.suggest-vote-area {
			display: inline-block;
			float: left;
		}

		@media only screen and (max-width: 768px) {
			/* For mobile phones: */
			.participated {
				width: auto !important; 
				position: unset !important;
				float: unset !important;
				display: block !important;
				margin-top: 0;

			}
			.post-detail {
				width: 100% !important; margin-top: 12px !important;
				float: unset !important;
				display: block !important;
				margin-left: 0px;
			}
			.ui-widget.ui-corner-top.ui-chatbox {
				display: none !important;
			}
			#comment {
				width: 100% !important;
			} 
			.header {
				width: 100% !important;
			}

		}
	</style>
<% end %>

<div style="">
	
	<div class="participated">

				<% if @post.is_member?(current_user) %>
					<div style="margin-bottom: 30px;">
						<div style="background-color: rgb(255, 255, 255); box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.07); padding: 16px; text-align: center;"><b>Join requests</b>
							
						</div>
							
							<% if @post.requested_invites.count == 0%>
								<div style="background: #f9f9fa;text-align: center;box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.07);height: 30px;padding-top: 4px;padding-bottom: 4px;">No new join request</div>
							<% end%>
							<% @post.requested_invites.each do |i| %>
								<div style="background-color: rgb(249, 249, 250); box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.07); padding: 16px;">
									<div>
										<%= gravatar_tag i.user.email, :d => :monsterid, :html => {:style => "height: 30px; width: 30px; border-radius: 20px;"} %>
											
										<span style="color: rgb(68, 68, 68); font-size: 16px;"><%= i.user.name %></span>
										
										<span style="float: right;">
											<a data-name="<%= i.user.name %>" data-path="<%= post_invite_path(@post, i, :status => 3) %>" class="req-action js_reject_call" style="margin-right: 10px; display: inline-block; text-align: center;" href="javascript:void(0)">
												<i class="remove fa fa-times-circle" style="color: red; font-size: 18px;"></i><span style="display: block;">Reject</span>
											</a>
											<a href="<%= post_invite_path(@post, i, :status => 2) %>" class="req-action" data-method="put" data-remote="true" class="ajax-loader" style="display: inline-block; text-align: center;">
												<i class="remove fa fa-check-circle" style="color: green; font-size: 18px;"></i><span style="display: block;">Accept</span>
											</a>
										</span>
										<div style="clear: both;"></div>
									</div>
										<div style="padding: 0px 5px; font-size: 11px; display: block;">
											<%= i.message %>								
										</div>
									
								</div>
							<% end %>
					</div>
				<% end %>

				<div>
					<div style="padding: 16px; text-align: left;"><b>Participating members</b>
					<% if @post.is_member?(current_user) %>
							<span style="position: relative; font-size: 12px;"><%=  link_to "Open Chat", post_chats_path(@post), onclick: on_click_js_event('#chat-pop-up-post-id-' + @post.id.to_s), class: "show_chat ga_show_chat anchor-button" %>
								<% if @post.unread_messages_count(current_user) > 0 %>
											<span class="notify_count show-page"><%= @post.unread_messages_count(current_user) %></span>
										<% end %>
							</span>
					<% end %>
					</div>
						

						<% @post.members.each do |u| %>
							<div style="background-color: rgb(249, 249, 250); box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.07); padding: 8px;">
								<%= gravatar_tag u.email, :d => :monsterid, :html => {:style => "height: 30px; width: 30px; border-radius: 20px;"} %>
									<span style="color: rgb(68, 68, 68); font-size: 16px;"><%= u.name rescue "N/A" %></span>
								
							</div>
						<% end %>
				</div>

		<% if @post.user != current_user %>
			<% if !@post.user_requested?(current_user) && !@post.is_member?(current_user) %>
				<% if @post.is_closed? %>
				<div style="padding: 6px 0px 0px 4px; margin: 8px; color: #d9534f; text-align: center;">This post is now closed!</div>
                   	<a style="text-decoration: none; color: inherit;" href="<%= new_post_path %>" class="<%= current_user ? '' : 'ga_post_create' %>">
						<div style="background-color: rgb(78, 156, 175); text-align: center; padding: 15px; color: white; font-weight: bold; font-size: 19px; border-radius: 14px;">Create new learning post</div>
					</a>
                <% else %>
                   	<div id="invite-req" class="btn btn-primary side-float-btn" >Interested? join this post!</div>
                   	<div style="margin: 12px; text-align: center"><div>OR</div></div>
                   	<a style="text-decoration: none; color: inherit;" href="<%=  new_post_path  %>" class="<%= current_user ? '' : 'ga_post_create' %>">
						<div class="btn btn-primary side-float-btn">Create new learning post</div>
					</a>
                <% end %>
            <% elsif !@post.is_member?(current_user) %>

				<div class="btn btn-primary side-float-btn"> Join request sent already</div>
			<% end %>
		<% end %>

	</div>
	
	<div class="post-detail">
		
		<div class="post-detail-card">
			<div class="post-info">
				<h3 style="font-weight: bold;"><%= (@post.is_closed? ? "[Closed] " : "" ) + @post.title%></h3>
				<% if @post.user == current_user && !@post.is_closed? %>
					<%= link_to close_post_path(@post), :"data-confirm" => "Are you sure?\nAfter closing this post no new member can send join request", :title => "This will not allow any new member to join the post", :method => "post", :class => "btn btn-danger", :style => "font-size: 12px; padding: 2px;" do %>
						Mark as closed
					<% end %>
				<% end %>
				<hr>
				<div class="post-area">

					<div class="vote-area" id="post-vote">
						<%= link_to 'upvote', post_votes_path(@post, :vote_type => 1), :class => "upvote arrow-up #{@post.user_vote_type(current_user) == Vote::TYPE[:upvote] ? 'upvoted' : ''}" , :title => "Post is clear and shows dedication for learning", remote: true, method: :post%>
						<br>
						<div class="vote-count" ><%= @post.total_vote_count %></div>
						
						<%= link_to 'downvote', post_votes_path(@post, :vote_type => 2), :class => "downvote arrow-down #{@post.user_vote_type(current_user) == Vote::TYPE[:downvote] ? 'downvoted' : ''}", :title => "Post is not clear and does not shows dedication for learning" , remote: true, method: :post %>
					</div>
					<div style="width: 100%;"> 
						<div style="margin-bottom: 20px; font-size: 16px; display: inline;">
							<%= markdown(@post.message) %>
						</div>
						<span style="display: block; margin-top: 20px;">
							<span class="post-skills"></span>
							<span class="skill-wrap">
								<span class="background">
									<span class="back-text">Background</span>
								</span>
								<span class="main-skills">
									<%= @post.skills.first.title rescue "NA" %>
								</span>
							</span>			
									
						</span>
					</div>
					
				</div>
				<div class="comment-section js_comment_sec">
					<div class="comment-info">
						<i class="fa fa-caret-down js_caret_down" aria-hidden="true"></i>
						<i class="fa fa-caret-up js_caret_up" aria-hidden="true" style="display: none;"></i>
						<span><%= @post.comments.count %></span> <span> Comments</span>
					</div>
					<div style="clear: both;"></div>
				</div>


				<div style="padding: 16px; text-align: left; background-color: #fafafa; display: none;" class="js_all_comments">
					<p style="font-weight: bold; border-bottom: 1px solid rgb(168, 168, 168);">Comments</p>
					<div id="comment-list">
						<% @post.comments.reorder(id: :asc).each do |c| %>
							<%= render :partial => 'single_chat', :locals => {:comment => c} %>
						<% end %>
					</div>


					<%= form_for Comment.new, :url => post_comments_path(@post), remote: true do |f| %>
							<div class="form-group">
							<%= f.text_field :message, :class => "form-control", :id => "comment", :style => "width: 560px; display: inline;" %>
							<%= f.submit "Comment", :class => "btn-primary ajax-loader" %>
							</div>
						
					<% end %>
				</div>
			</div>
		</div>	

		<% if !@post.is_closed? && !@post.is_member?(current_user) && !@post.user_requested?(current_user) %>
			<div style="padding: 16px; margin-top: 10px;">
				<p>
	        	<%= form_for Invite.new, :url => post_invites_path(@post, :status => 1), remote: true, html: {class: "ajax-loader-form"} do |f| %>
	        		<label for="usr" style="font-size: 18px;">Interested to join this learning post?<span style="color: rgb(141, 141, 141); font-size: 13px; display: block;"> This message should include your background/skills relevant to this post (Be specific)</span></label>
					<p><%= f.text_area :message, required: true, :style => "width: 100%;", :class => "form-control #{current_user ? '' : 'js_join_msg'}" %></p>
					<%= f.submit "Request to Join", :class => "btn btn-success js_join_req", :disabled => current_user.blank? %>
				<% end %>
	        </p>
			</div>
		<% end %>




		<% if @post.members.length > 1 %>

			<div style="padding: 16px; text-align: left; margin-top: 15px;">
				<p style="font-weight: bold; border-bottom: 1px solid rgb(168, 168, 168);">Participating members detail</p>
				<div>
					<% @post.accepted_invites.each do |invite| %>
						<div style="margin-bottom: 10px;">
							<div style="padding: 8px;">
									<%= gravatar_tag invite.user.email, :d => :monsterid, :html => {:style => "height: 25px; width: 25px; border-radius: 20px;"} %>
										<span style="color: rgb(68, 68, 68); font-size: 14px; font-weight: bold;"><%= invite.user.name rescue "N/A" %></span>
										<div style="padding-left: 29px; font-size: 13px;">
											<%= @post.user == invite.user ? @post.skills.first.title : invite.message %>
										</div>
									
								</div>
						</div>
					<% end %>
				</div>

			</div>
		<% end %>







		<div class="suggest-block">
			<p style="font-weight: bold;">Learning Suggestions</p>
			<div id="suggestion-list">
				<% @post.suggestions.reorder(id: :asc).each do |s| %>
					
						
						<%= render :partial => 'single_suggestion', :locals => {:suggest => s} %>

				<% end %>
			</div>


			<%= form_for Suggestion.new, :url => suggestion_post_path(@post), remote: true do |f| %>
					<div class="form-group">
					<%= f.text_area :message, :class => "form-control #{current_user ? '' : 'js_join_msg'}", :id => "suggestion", :style => "display: inline; min-height: 60px;", :placeholder => "Any suggestion relevant to this learning interest?", :"data-provide" => "markdown" %>
					<%= f.submit "Submit", :class => "btn-primary ajax-loader", :style => "display: block;", :disabled => current_user.blank? %>
					</div>
				
			<% end %>
		</div>











		</div>

	</div>
</div>



<!-- Modal -->
<div id="join-request" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Request to join</h4>
      </div>
      <div class="modal-body">
        <p>
        	<%= form_for Invite.new, :url => post_invites_path(@post, :status => 1), remote: true, html: {class: "ajax-loader-form js_join_req_form"} do |f| %>
        		<p>This message should include your background/skills relevant to this post (Be specific)</p>
				<p><%= f.text_area :message, :style => "width: 100%;", required: true  %></p>
				<%= f.submit "Request to Join", :class => "btn btn-success js_join_req" %>
			<% end %>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>




<!-- Modal -->
<div id="reject-message" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title js_reject_title">Reject message</h4>
      </div>
      <div class="modal-body">
        <p>
        	<%= form_tag "", remote: true, class: "ajax-loader-form", method: "put" do %>
        		<p class="js_reject_message"></p>
				<p><%= text_area_tag :reject_message, nil, :style => "width: 100%;", required: true  %></p>
				<%= submit_tag "Reject", :class => "btn btn-success" %>
			<% end %>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<% if !mobile_device? %>
	<div class="chat-popups-container">
		<%= render :partial => 'posts/chats/chat_pop_up', :locals=> {:post => @post, :hidden => @post.chats.count < 1} %>
	</div>
<% end %>

<div style="clear: both;"></div>
<script type="text/javascript">
	
	$('#invite-req').click(function() {
		<% if current_user %>
			ga("send", "event", "Post", "Invites", "join_post_req_logged_in", <%= @post.id%>);
			$('#join-request').modal('show');
		<% else %>
			ga("send", "event", "Post", "Invites", "join_post_req_not_logged_in", <%= @post.id%>);
			$('#login-div').modal('show');
		<% end %>

	});

	$('.ga_show_chat').click(function() {
		ga("send", "event", "Post", "Open chat", "click");
	})
	$('.js_join_req_form').submit(function() {
		$('#join-request').modal('hide');
	})
	$('.js_join_msg').click(function(e){
		e.preventDefault();
		$('#login-div').modal('show');
	});
	$('.js_reject_call').click(function() {
		var modal = $('#reject-message');
		modal.find('.js_reject_title').text('Reject ' + $(this).data('name') + ' join request');
		modal.find('.js_reject_message').text('Let ' + $(this).data('name') + ' know why you rejected this request.');
		modal.find('form').attr("action", $(this).data("path"));
		modal.modal('show')
	});
	function popup_toggle_callback(sel) {

	}
	$('#comment-list').linkify({
    	target: "_blank"
	});
	$('.js_comment_sec').click(function() {
		if ($('.js_all_comments').is(':visible')) {
			$('.js_caret_up').hide();
			$('.js_caret_down').show();
			$('.js_all_comments').slideUp(500);
		}
		else {
			$('.js_caret_up').show();
			$('.js_caret_down').hide();
			$('.js_all_comments').slideDown(500);
		}

	})
</script>