<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="<%= asset_url('colearn-logo.png') %>" property="og:image">
<meta property="og:title"  content="Find people to learn with" />
<meta property="og:description" content="Start collaborative learning! Find or create your learning post and participate actively!" />

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-87696038-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    <% if ENV["RAILS_ENV"] != "development" %>
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    <% end %>
  })();

</script>



  <% if ENV["RAILS_ENV"] != "development" && (!current_user || (!current_user.is_admin? && current_user.id > 2)) %>
    <!-- Begin Inspectlet Embed Code -->
  <script type="text/javascript" id="inspectletjs">
  window.__insp = window.__insp || [];
  __insp.push(['wid', 637895433]);
  (function() {
  function ldinsp(){if(typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
  setTimeout(ldinsp, 500); document.readyState != "complete" ? (window.attachEvent ? window.attachEvent('onload', ldinsp) : window.addEventListener('load', ldinsp, false)) : ldinsp();
  })();

  </script>
  <!-- End Inspectlet Embed Code -->
<% end %>


	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<!-- <script src="https://use.fontawesome.com/f9b4728164.js"></script> -->
<script src="https://cdn.jsdelivr.net/emojione/2.2.7/lib/js/emojione.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/emojione/2.2.7/assets/css/emojione.min.css"/>
 
	<script type="text/javascript">
		<% if (current_user) %>
			current_user = <%= raw current_user.as_json(:methods => [:picture]).to_json %>
		<% end %>
		<% if flash[:notice] || flash[:alert] %>
			jQuery(document).ready(function() {
				$.notify("<%= escape_javascript flash[:notice] || flash[:alert] %>", { position:"top center", className: "info" });
			});
		<% end %>
	</script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-87696038-1', 'auto');
	  ga('send', 'pageview');

	</script>    
	<%= csrf_meta_tags %>
	<%= yield(:head) %>

	<title>Colearn - Find people to learn with</title>
</head>
<body style="background: #fafafa none repeat scroll 0 0;">

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div id="overlay-full-page-div"></div>
<div class="header " >
    <a class="logo" href="/" style="padding: 0px;">
        <img class="logo-image" src="<%= asset_path('col-small.png') %>" style="max-width: 152px; border-radius: 17px;">
        <span class="head-title">
          <span class="logo-title">Colearn</span>
      	   <span class="tag-line" style="color: black;  font-size: 19px;">Find people to learn with</span>
        </span>
    </a>
    <% if current_user %>
        <div class="account-area">
            <div class="username" >
                <a href="javascript:void(0)" class="username-text"><%=current_user.name%></a>
            </div>
            <div>
               <%= gravatar_tag current_user.email, :d => :monsterid, :html => {:class => "user-img"} %>
              
                <a  href="<%= destroy_user_session_path %>" data-method="DELETE", class="signout btn">Signout</a>
            </div>
        </div>
    <% else %>
    	 <div class="account-action">
            <a href="javascript:void(0)"  class="login btn">Sign in</a>
            
            <a href="javascript:void(0)" class="sign-up btn btn-success" >Sign up</a>
        </div>
    	<a class="signout hidden" href="#" onclick="signOut();">Sign out</a>
    <% end %>   


   
       
</div>
<div class="content">
<% if current_user and current_user.participated_posts.count > 0 %>
  <div class="play-app-container">
    <div class="play-image"><a target="_blank" href="https://play.google.com/store/apps/details?id=xyz.colearn.colearnnotification"><img src="<%= asset_path('google_play.png') %>"></a></div>
    <div class="play-text">Download Colearn notification Android app(Beta) to get instant chat notifications</div>
    <div style="clear: both;"></div>
  </div>
<% end %>
	<%= yield %>
	
	<div class="popup-box chat-popup" id="chat_div">
    		  
    </div>	
</div>



    	<% if !current_user %> 
    		<div class="modal fade" id="login-div" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              	<div class="modal-dialog modal-sm" role="document">
                	<div class="modal-content">
                  		
                  		<div class="modal-body">
                    		<div class="row text-center">
						        <%= render "devise/sessions/new_sign_in_form" %>
					    	</div>
					    </div>
				    	<div class="modal-footer">
                			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              			</div>
            			
          			</div>
        		</div>
        	</div>
        <% end %>




<!-- loader modal -->

<div id="divLoading"> 
</div>

<footer class="footer-basic-centered">

      <p class="footer-company-motto">[Colearn] Find people to learn with.</p>

      <p class="footer-links">
        <a href="mailto:colearn.xyz@gmail.com">Contact us</a>
        .
        <a href="https://colearn.xyz">Home</a>
        .
        <a href="https://medium.com/@colearn.xyz">Blog</a>
        .
        <a href="https://www.facebook.com/Colearn-1687951258182766">Facebook</a>
        <!-- <a href="#">About</a>
        · -->
        .
        <a href="https://twitter.com/colearn_xyz">Twitter</a>
      </p>

      <p class="footer-company-name">Colearn &copy; 2017</p>

</footer>
<script type="text/javascript">
        $('.login').click(function() {
            $('#login-div').modal('show');
            $('#sign-up-form .js_sign_in_path').click();
        });
        $('.sign-up').click(function() {
            $('#login-div').modal('show');
            $('#sign-in-form .js_sign_up_path').click();
        });

        $('.ajax-loader').click(function() {
        	$("div#divLoading").addClass('show');
        })

        $('form.ajax-loader-form').submit(function() {
          $("div#divLoading").addClass('show');
        })

		$( document ).ajaxComplete(function( event, xhr, settings ) {
			if(xhr.status == 401){
				$('#login-div').modal('show');
			}
			$("div#divLoading").removeClass('show');
		});
		$('#login-div').on('hidden.bs.modal', function () {
				_gaq.push(['_trackEvent', 'Login', 'closed']);			
			});
		$('#login-div').on('show.bs.modal', function () {
				_gaq.push(['_trackEvent', 'Login', 'show']);			
			});
     $(".login").click(function(event) {
        // console.log("clicked on login");
        ga("send", "event","Login/signup", "login", location.pathname);
     });
     $(".sign-up").click(function(event) {
        // console.log("clicked on signup");
        ga("send", "event", "Login/signup", "signup", location.pathname);
     });
     $(".signout").click(function(event) {
        // console.log("clicked on signout");
        ga("send", "event", "Login/signup", "signout", location.pathname);
     });      
    </script>

    <%= yield(:scripts) %>
</body>
</html>
