<!DOCTYPE html>
<html>
<head>
	<title>Colearn</title>
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" type="text/css" media="screen" />
	 <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-markdown/2.10.0/css/bootstrap-markdown.min.css">
	
	<script src="https://use.fontawesome.com/f9b4728164.js"></script>
	<script src="http://www.codingdrama.com/bootstrap-markdown/js/markdown.js"> </script>
	<script src="http://www.codingdrama.com/bootstrap-markdown/js/to-markdown.js"> </script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"> </script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"> </script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-markdown/2.10.0/js/bootstrap-markdown.min.js"> </script>
	
	<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<script type="text/javascript">
		<% if (current_user) %>
			current_user = <%= raw current_user.as_json.to_json %>
		<% end %>
	</script>
	    
	<%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div class="header ">
    <a class="logo" href="/">
        <img class="logo-image" src="/assets/colearn-logo.png">
    </a>
    <% if current_user %>
        <div class="account-area">
            <div class="username" >
                <h4>welcome</h4>
                <h4 class="username-text"><%=current_user.name%></h4>
            </div>
            <div class="account">
               <%= gravatar_tag current_user.email, :size => 50 %>
              
                <a  href="<%= destroy_user_session_path %>" data-method="DELETE", class="signout btn">Signout</a>
            </div>
        </div>
    <% else %>
    	 <div class="account-action">
            <a href="<%= new_user_session_path %>"  class="login btn">Login/Sign Up</a>
        </div>
    	<a class="signout hidden" href="#" onclick="signOut();">Sign out</a>
    <% end %>    
   
       
</div>
<div class="content">
	<%= yield %>
	
	<div class="popup-box chat-popup" id="chat_div">
    		  
    </div>	
</div>







<div class="footer">
	<a href="mailto:colearn.xyz@@gmail.com">Contact us</a>
</div>
</body>
</html>
